@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color1: #36e6fd;
  --color2: #526470;
  --color2Hover: #415059;
  --color3: #fff;
  --color-bg-header: rgba(0, 0, 16, 0.15);
  --color-bg-container: #e8d5d5;
  --mobile-width: 339px;
  --mobile-height: 717.806701px;
  --screen-width: 322.9613734px;
  --screen-height: 700px;
  --unit-height: calc(var(--screen-height) / 150);
  --unit-width: calc(var(--screen-width) / 50);
}
