* {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100vw;
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 17%;
  z-index: 50;
  background: linear-gradient(to top, #3c4b64, #252d3d);

  .header {
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.75rem;
    flex: 0 0 4rem;
    top: 0;
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: var(--color-bg-header);
    font-size: 15px;

    img {
      height: 100%;
      width: 50%;
      object-fit: cover;
      color: var(--color3);
    }
    .backIcon {
      width: 20%;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .sideBarContent {
    position: absolute;
    top: 10%;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 24px;
    font-size: 17px;
    color: #ffffff99;

    &::-webkit-scrollbar {
      width: 4px;
      background: linear-gradient(to top, #3c4b64, #252d3d);
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 4px;
    }

    li {
      width: 100%;
      text-decoration: none;
      list-style: none;
      cursor: pointer;
      .icon {
        transition: transform 0.3s ease-in-out;
        transform: translateX(0);
        width: 10%;
        margin-right: 1rem;
      }
      .show {
        transform: translateX(900%);
      }
      span,
      label {
        cursor: pointer;
        font-weight: 100;
        font-size: 15px;
      }
    }
    .nav-item {
      display: flex;
      align-items: center;
    }
    .nav-title {
      display: flex;
      margin-top: 20%;
      font-weight: 700;
      float: left;
      font-size: 17px;
      margin-bottom: 5%;

      .remove-nav-item {
        border: none;
        color: white;
        position: absolute;
        right: 0px;
        background: transparent;
        float: right;
      }
    }
    .nav-child {
      display: flex;
      align-items: center;
      margin-top: 2rem;

      .remove-nav-item {
        border: none;
        color: white;
        position: absolute;
        right: 0px;
        background: transparent;
        float: right;
      }

      &:hover {
        span,
        label {
          color: var(--color3);
        }
      }
    }
    .active {
      // background-color: #3c4b64;
      // padding: 0 34px;
      // transform: scale(1.5);
      // // transform: translateX(-12%);
      // // width: 150%;
    }
  }
}
.hide {
  transform: translateX(-70%);
}
.containerAll {
  background-color: var(--color-bg-container);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  .headerContainer {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: var(--color3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .searchInput {
      position: absolute;
      top: 15%;
      left: 20%;
      width: 20%;
      height: 70%;

      .iconSearch {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        z-index: 1;
      }

      input {
        padding: 0 10% 0 20%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-bg-container);
        border: none;
        outline: none;
        border-radius: 20px;
      }
      .iconDelete {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
      }
    }
    .btn-success {
      position: absolute;
      right: 18%;
      top: 32%;
    }
    .btn-danger {
      outline: none;
      border: none;
      background-color: #3a78f3;
      position: absolute;
      margin-right: 20px;
      right: 30%;
      top: 32%;
    }
    .userInfo {
      position: absolute;
      align-items: center;
      right: 5%;
      width: 10%;
      height: 100%;
      overflow: hidden;
      display: flex;
      font-size: 24px;

      .iconUser {
        width: 50%;
        right: 5;
        position: absolute;
        display: flex;
        margin: 0 2%;
        cursor: pointer;
        justify-content: space-between;
      }

      .userAvatar {
        cursor: pointer;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        overflow: hidden;
        position: absolute;
        right: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .userMenu {
      position: absolute;
      right: 2%;
      top: 90%;
      width: 15%;
      height: 350%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.35) -7px -5px 15px;
      border-radius: 16px;
      overflow: hidden;

      ul {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        .li-title {
          height: 12%;
          font-size: 14px;
          font-weight: 400;
          background-color: #dce7f7;
        }
        .li-child {
          cursor: pointer;

          &:hover {
            font-weight: 600;
          }
        }
        .li-logout {
          border-top: 1px solid #d0dae8;
          margin-top: 0.02rem;
        }
        li {
          font-size: 16px;
          font-weight: 500;
          height: 17%;
          margin-bottom: 0.01rem;
          display: flex;
          // position: absolute;
          justify-content: center;
          align-items: center;
          list-style: none;
          width: 100%;

          .icon {
            position: absolute;
            left: 20%;
            font-weight: 400;
          }
          span {
            position: absolute;
            left: 40%;
          }
        }
      }
    }
  }
  .containContainer {
    padding: 1rem;
    position: absolute;
    top: 10%;
    left: 17%;
    width: 83%;
    height: 100%;

    .dashboard {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;

      .flex-container {
        position: absolute;
        top: -2%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 102vh;
        color: white;
        animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

        .text-center {
          text-align: center;
          h1,
          h3 {
            margin: 10px;
            cursor: default;

            .fade-in {
              animation: fadeIn 2s ease infinite;
            }
          }

          h1 {
            font-size: 8em;
            transition: font-size 200ms ease-in-out;
            border-bottom: 1px dashed white;

            span#digit1 {
              animation-delay: 200ms;
            }
            span#digit2 {
              animation-delay: 300ms;
            }
            span#digit3 {
              animation-delay: 400ms;
            }
          }

          button {
            border: 1px solid white;
            background: transparent;
            outline: none;
            padding: 10px 20px;
            font-size: 1.1rem;
            font-weight: bold;
            color: white;
            text-transform: uppercase;
            transition: background-color 200ms ease-in;
            margin: 20px 0;

            &:hover {
              background-color: white;
              color: #555;
              cursor: pointer;
            }
          }
        }
      }

      @keyframes colorSlide {
        0% {
          background-color: #152a68;
        }
        25% {
          background-color: royalblue;
        }
        50% {
          background-color: seagreen;
        }
        75% {
          background-color: tomato;
        }
        100% {
          background-color: #152a68;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .title {
        font-size: 32px;
        font-weight: 700;
        color: #2c384af2;
        position: absolute;
        left: 3%;
        top: 3%;
      }
      p {
        position: absolute;
        left: 2%;
        top: 10%;
        color: #888;

        span {
          margin: 0 1rem;
        }
        .textWeight {
          color: #2c384af2;
          font-weight: 500;
        }
      }
      .containDashboard {
        position: absolute;
        top: 15%;
        padding: 3%;
        display: flex;
        flex-wrap: wrap;

        width: 100%;
        height: 100%;

        .card {
          padding: none;
          background-color: var(--color3);
          margin: 1rem;

          .remove-item {
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
            top: 1%;
            right: 1%;
          }

          .add-content {
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
            top: 1%;
            left: 1%;
            color: #252d3d;
          }
        }
      }
    }
    .input-link {
      margin-top: 5%;
      position: absolute;
      left: 2%;
      width: 37%;
      margin-bottom: 5%;
      height: 3%;

      input {
        padding: 0 12px;
        border-radius: 20px;
      }
      .btn {
        width: 18%;
      }
    }
    .readConfigFile {
      margin-top: 8%;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      left: 2%;
      .textArea {
        width: 35%;
        .text-area {
          width: 100%;
          height: 100vh;
          white-space: pre-wrap;
          float: left;
          font-family: arial;
          color: #fff;
          background: #2f2f2f;
          padding: 15px;
          line-height: 30px;
          min-height: 100%;
          border: none;
        }
      }
      .btnGroup {
        width: 40%;
        display: flex;
        .btn {
          margin-right: 3rem;
          width: 50%;
          height: 5%;
          border: 1px solid #252d3d;
          color: #252d3d;
          background-color: #c4c4c4;

          &:hover {
            color: white;
            background-color: #283347;
          }
        }
        .active {
          background-color: #252d3d;
          color: white;
        }
      }
      .editArea {
        background-color: black;
        color: white;
        position: absolute;
        top: 20%;
        width: 38%;
        height: 38%;
        border-radius: 4px;
        overflow-y: auto;
        padding: 4px 2rem;
      }
      .optionComp {
        display: flex;
        position: absolute;
        top: 10%;
        width: 38%;

        .btn {
          background-color: #d0dae8;
          color: red;
          border: 1px solid red;
          margin-right: 10px;
          width: 24%;
          height: 4%;
          font-size: 14px;
        }
        .active {
          background-color: rgb(222, 29, 29);
          color: white;
        }
      }
      .keyAdd {
        position: absolute;
        top: 62%;
        width: 10%;
        height: 5%;
        border-radius: 8px;
        outline: none;
        border: 2px solid #252d3d;
        padding: 0 8px;
      }
      .btn-primary {
        position: absolute;
        top: 62%;
        height: 5%;
        width: 10%;
        left: 28%;
      }
    }
    .btnCustom {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      height: 7%;
      position: fixed;
      top: 10%;
      left: 50%;
      width: 18%;
      z-index: 99;

      box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
