/* MobileDeviceFrame.scss */
.mobile-device-frame {
  width: var(--mobile-width);
  height: var(--mobile-height);
  padding: 8px;
  background-color: #000;
  border-radius: 37px;
  position: absolute;
  right: 30%;
  overflow: visible;

  z-index: 0;
}
.svg-container {
  width: 100%; /* Đảm bảo rộng của container bằng 100% của phần tử cha */
  height: 500px; /* Thiết lập chiều cao tùy thuộc vào nhu cầu */
  overflow: auto; /* Hiển thị thanh cuộn nếu cần thiết khi nội dung vượt quá chiều cao */
}
